<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>&quot;Transkrip için gerekli olan izin.&quot;</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>&quot;Fotoğraflarınıza erişmemiz gerekiyor.&quot;</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>&quot;Mikrofonu ses kaydı için kullanıyoruz.&quot;</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
